
body{
    background-color:  #000000;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    overflow: hidden;
    /* margin: 0px; */
}

@media  screen and (min-width: 481px){
    #col1 {
        width: 30%;
        height: 200px;
    }

    #col2 {
        width: 64%;
        height: 200px;
        left: 35%;
        /* left: 379px; */
    }

    
    #divLoadingAlert{
        width: 100%;
        height: 100%;
        position: absolute;
        background: rgb(34, 34, 76);
        z-index: 90;
        color: burlywood;
    }

    .clsDynLetter{
        /*  background: yellowgreen;*/
        width:30px;
        height:20px;
        position: absolute;
        color:#efefef;
        text-align: center;
        font-size: 32px;
    }
    

}

@media  screen and (max-width: 480px) {
    /* #col1 {
        width: 30%;
        height: 200px;
    } */

    #col1 {
        width: 30%;
        height: 200px;
        width: 802px;
        top: 700px;
        left: px;
    }

   /*  #col2 {
        width: 64%;
        height: 200px;
        left: 35%;
        top:500px;
    } */
    
    
    #col2 {
        width: 188%;
        left: 20%
    }

    #divLoadingAlert{
        width: 1000px;
        height: 1500px;
        position: absolute;
        background: rgb(34, 34, 76);
        z-index: 90;
        color: burlywood;
    }

    .clsDynLetter{
        /*  background: yellowgreen;*/
        width:30px;
        height:20px;
        position: absolute;
        color:#bd2424;
        text-align: center;
        font-size: 32px;
        left:-600px;
    }
    
}

.verCol {
    position: absolute;
    display: inline;
}


div#leftSideBar {
    /* float: left; */
    /* width: 20%; */
    width: 320px;
    position: absolute;
    /* margin-left: 47px; */
    /* margin-right: 40px; */
    margin-left: 17%;
}





#divLtdDisc {
    margin-top: 100px;
    padding-left: 100px;
    color: #e8d2c3;
    display: none;
    font-size: 24px;
}

#btnRunAnyway{
    padding: 6px;
}

#discLimit{
    width:70%;
}

