
/* lock portrait orientation */
/* 
@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
    html {
      transform: rotate(-90deg);
      transform-origin: left top;
      width: 100vh;
      overflow-x: hidden;
      position: absolute;
      top: 100%;
      left: 0;
    }
}
 */




body{
    background-color:  #000000;
    /* font-family: Verdana, Courier, "Levenim MT",Arial, "Helvetica Neue", Helvetica, sans-serif; */
    font-family: "Josefin Sans", "Proxima Nova", Helvetica, Corbel, sans-serif;
    overflow: hidden;
    /* margin: 0px; */
}

@media  screen and (min-width: 481px) {
    #col1 {
        width: 30%;
        height: 200px;
    }

    #col2 {
        width: 64%;
        height: 200px;
        left: 35%;
        /* left: 379px; */
    }

    
    #divLoadingAlert{
        width: 100%;
        height: 100%;
        position: absolute;
        background: rgb(34, 34, 76);
        z-index: 90;
        color: burlywood;
    }

    .clsDynLetter{
        /*  background: yellowgreen;*/
        width:30px;
        height:20px;
        position: absolute;
        color:#efefef;
        text-align: center;
        font-size: 32px;
    }

    #divColHome1 {
        left: 144px;
        top: 4px;
        width: 286px;
    }
    
    
    #divColHome2 {
        left: 541px;
        top: 38px;
        width: 279px;
    }
    
    
    #h1Timers {
        position: absolute;
        top: 492px;
        left: 591px;
    }

    
    #divUIStdControlPanel {
        display: none;
        position: absolute;
        top: -3vh;
        left: -6vw;
        width: 28vw;
    }
    

}

@media  screen and (max-width: 480px) {
    /* #col1 {
        width: 30%;
        height: 200px;
    } */

    #col1 {
        width: 30%;
        height: 200px;
        width: 802px;
        top: 700px;
        left: px;
    }

   /*  #col2 {
        width: 64%;
        height: 200px;
        left: 35%;
        top:500px;
    } */
    
    
    #col2 {
        width: 188%;
        left: 20%
    }

    #divLoadingAlert{
        width: 1000px;
        height: 1500px;
        position: absolute;
        background: rgb(34, 34, 76);
        z-index: 90;
        color: burlywood;
    }

    .clsDynLetter{
        /*  background: yellowgreen;*/
        width:30px;
        height:20px;
        position: absolute;
        color:#bd2424;
        text-align: center;
        font-size: 32px;
        left:-600px;
    }

    #divColHome1 {
        left: 117px;
        top: 4px;
        width: 263px;
    }
    
    
    #divColHome2 {
        left: 411px;
        top: 38px;
        width: 255px;
    }
    
    
    #h1Timers {
        position: absolute;
        top: 492px;
        left: 410px;
    }

    
    #divUIStdControlPanel {
        display: none;
        position: absolute;
        top: -3vh;
        left: -6vw;
        width: 110vw;
    }
    
}



@media screen and (max-height: 480px) and (orientation:landscape){


    

    #col1 {
        top: 38px;
        left: 2px;
    }


    #col2 {
        width: 103%;
        height: 200px;
        left: 100vw;
        top: 18vh;
    }

    #divLoadingAlert{
        width: 1000px;
        height: 1500px;
        position: absolute;
        background: rgb(34, 34, 76);
        z-index: 90;
        color: burlywood;
    }

    .clsDynLetter{
        width:30px;
        height:20px;
        position: absolute;
        color:#bd2424;
        text-align: center;
        font-size: 32px;
        left:-600px;
    }

    #divColHome1 {
        left: 117px;
        top: 4px;
        width: 263px;
    }
    
    
    #divColHome2 {
        left: 411px;
        top: 38px;
        width: 255px;
    }
    
    
    #h1Timers {
        position: absolute;
        top: 492px;
        left: 410px;
    }

    
    #divUIStdControlPanel {
        display: none;
        position: absolute;
        top: -3vh;
        left: -6vw;
        width: 110vw;
    }
   
}

 


.verCol {
    position: absolute;
    display: inline;
}


div#leftSideBar {
    /* float: left; */
    /* width: 20%; */
    width: 320px;
    position: absolute;
    /* margin-left: 47px; */
    /* margin-right: 40px; */
    margin-left: 17%;
}





#divLtdDisc {
    margin-top: 100px;
    padding-left: 100px;
    color: #e8d2c3;
    display: none;
    font-size: 24px;
}

#btnRunAnyway{
    padding: 6px;
}

#discLimit{
    width:70%;
}


#diveHomeImgCont{
    position: absolute;
    opacity: 0.5;

}


#divHomeScreenCont, #divContactsScreenCont {
    padding-left: 25px;
    padding-right: 50px;
    padding-top: 50px;
    font-family: "Levenim MT";
    position: absolute;
    top: 0px;
    /* color: #4ea4a7; */
    color:black;
    width: 35%;
}


/* 
img#imgHomeBack {
    opacity: 32%;
    background-image: url(../resources/hbar1.jpg);
    background-size: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
 */


#divHomeImge {
    /* opacity: 32%; */
    background-image: url(../resources/hbar1.jpg);
    /* background-image: url(../resources/gears.jpg); */   
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}


#divContactsImge {
    /* opacity: 32%; */
    /* background-image: url(../resources/hbar1.jpg); */
    background-image: url(../resources/gears.jpg);
    /* background-color: #bbbbbb; */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}





#divHomeScreenCont > h1, #divContactsScreenCont > h1 {
    font-size: 82px;
    margin-block-start: -0.33em;
    margin-block-end: -0.33em;
}




#divHomeScreenCont > h3, #divContactsScreenCont > h3 {
    font-size: 25px;
}




#divHomeScreenCont > p, #divContactsScreenCont > p {
    font-size: 20px;
    display: block;
    margin-block-start: -1em;
    margin-block-end: -1em;
}

#divContacts{
    display: none;
}


.colHom{
    /* display: inline; */
    position: absolute;
    widows: 300px;
}

#divHomeRootRelPos{
    position: relative;
}

/* 
#divColHome1 {
    left: 144px;
    top: 4px;
    width: 286px;
}


#divColHome2 {
    left: 541px;
    top: 38px;
    width: 279px;
}


#h1Timers {
    position: absolute;
    top: 492px;
    left: 591px;
}
 */


.colHom > h3 {
    color: #000000;
}


.colHom > p {
    color: #000000;
    margin-block-start: -1em;
}








#buttonsPanel1 {
    display: block;
   /*  width: 80%;
    margin-top: 3%;
    float: left;
    margin-left: 17%;
    display: none;
    padding-top: 12px;
    padding-bottom: 12px; */
}

#fpsSlider{
    display: block;
    color: white;
   /*  top: 294px;
    left: 48px;
    width: 247px; */
    /* height: 61px; */
 }

 




input#fpsSlide {
    width: 154px;
    height: 11px;
    box-shadow: inset 7px 2px 6px 1px rgba(3, 83, 148, 0.9), 0px 1px 1px 0px rgba(47, 28, 131, 0.8);
    -webkit-appearance: none;
    border: 1px solid #ffffff;
    border-radius: 15px;
    background: #000000;
    cursor: pointer;
    margin-top: 9px;
    margin-left: 27px;
}



/* the "more" sub panel  */
div#simpUIControls {
   /*  top: 388px; */
   /*  left: 46px; */
   /*  width: 251px; */
    /* height: 81px; */
    /* display: none; */
    /* padding-top: 12px; */
}




.UI2SubPannel {
    width: 53%;
    margin-left: 28%;
    margin-top: 76px;
    position: relative;
    padding-top: 14px;
    padding-bottom: 14px;
}



.buttonPanelSmp{
    border-width: 1px;
    border-color: white;
    border-style: solid;
    border-radius: 4px;
}


/* screen switch panel simple buttons  */


#lblModeSimple {
    left: 82px;
    top: -7px;
    position: absolute;
    background: black;
    width: 48px;
    padding-left: 7px;
}

 
#lblFrameRateUISimp {
    position: absolute;
    left: 53px;
    top: -7px;
    background: black;
    width: 96px;
    padding-left: 7px;
}


#lblSimpleMoreControls {
    position: absolute;
    left: 82px;
    top: -7px;
    background: black;
    width: 47px;
    padding-left: 6px;
}


#divLinks {
    position: absolute;
    top: 297px;
    left: 126px;
    /* position: relative; */
    /* background: #131d23a6; */
    z-index: 40;
}



#divLinks > a {
    /* color: #abec11; */
    color: #44e1ff;
    display: block;
    font-size: 21px;
    margin-top: 26px;
    text-decoration: none;
    text-align: center;
}
 


.underShader {
    background: #00000059;
    position: absolute;
}



#rectUnderShadingHor {
    height: 35%;
    width: 100%;
    top: 50%;
}


#rectUnderShadingVer {
    height: 100%;
    width: 35%;
    left: 10%;
}

div#divLinkUnderShading {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
}
