
/*Apperance of this style is brown-yellow-red  */





#btnSwitchDesign {
    background: black;
    /* color: rgb(158, 198, 78); */
    /* border-width: 0; */
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: #2a8215;
    /* border-width: 2px; */
    /* border-color: #ff0000; */
    /* display: none; */
}


#lblSwitch {
    color: #bfb7b7;
}

#lblModeSimple {
    left: 86px;
    top: -7px;
    position: absolute;
    background: black;
    width: 60px;
    /* align-content: center; */
    padding-left: 9px;
}

div#divSwitchUI {
    position: absolute;
    left: 137px;
    top: 320px;
    /* background: #9d1414; */
    padding: 2px;
    z-index: 60;
    filter:blur(0px);
}



.gridCell1 {
    position: absolute;
    z-index: 30;
    /* width: 500px; */
    width: 95%;
    height: 485px;
    /* background-color: #01001b78; */
    /* margin-left: 15%; */
    /* margin-top: 4%; */
    color: yellow;
    left: -28px;
    top: 65px;
}








body{
    background-color:  #000000;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
#avcd{
    fill: #ace63c;
    stroke: blue;  
}
#avcd:hover {
    fill: none;
    stroke: red;  
}

#label1{
    color: green;  

}

#label1:hover {
    color: red;  
}

.c1{
    stroke: blue;  	
}



.controlButton:hover{
    color:#3F51B5;
}

button:focus {outline:0;}



.panelCls {
    color: yellow;
    margin-top: 4%;
    width: 95%;
    height: 600px;
    background-color: #fcff8a;
    /* border-radius: 25px; */
    position: absolute;
}



.panelClsSqr{
    /* color: yellow; */
    margin-top: 4%;
    width: 95%;
    /* background-color: #ebaf2c;*/
    /* background-color: red; */
}

#gDrawing{
    background-color: #ebaf2c;
}




#buttonsPanel1 {
    width: 80%;
    margin-top: 3%;
    float: left;
    margin-left: 17%;
    display: none;
    padding-top: 12px;
    padding-bottom: 12px;
    position: absolute;
}

.buttonPanelSmp{
    border-width: 1px;
    border-color: white;
    border-style: solid;
    border-radius: 4px;
}


.themeContainer {
    width: 900px;
    /* margin-top: 3%; */
    /* margin-left: 21%; */
    left: 411px;
    position: absolute;
}




div#root {
    height: 1000px;
    width: 100%;
}

div#masksContainer{
/*     background-color: #021633;*/    
    display: none;
    width:70%;
}

div#mainHorz{
    margin-left: 2%;
}



h1#h1text1 {
    font-size: 25px;
    text-align: center;
    margin-left: 22px;
    font-weight: 800;
}



.controlButton {
    display: block;
    background-color: #fffbfb;
    border-style: none;
    color: #000000;
    width: 50%;
    height: 24px;
    font-size: 14px;
    margin-top: 3px;
    cursor: pointer;
    /* font-weight: 100; */
    margin-top: 10px;
    border-radius: 7px;
    font-family: "Josefin Sans", "Proxima Nova", Helvetica, Corbel, sans-serif;
    margin-left: 25%;
}

#btnAbout{
    display: inline; 
}

div#divTitle {
    margin-top: 3%;
    margin-bottom: 2%;
    color: #ffaf02;
}


div#leftSideBar {
    /* float: left; */
    /* width: 20%; */
    width: 300px;
    position: absolute;
}



div#divTitle1 {
    color: #000000;
}

#baseRectClk{
    stroke-width: 0; 
}

.clsCircElmDflt{
    fill:#712210;
}

.clsCircElmActiveMin{
    fill:blue;  
}

.clsCircElmActiveHr{
    fill:red;
}


#aboutContent {
    position: absolute;
    z-index: 15;
    /* display: none; */
    opacity: 0;
    left: 410px;
    top: 100px;
    background: black;
    color: yellow;
    padding: 10px;
}

a{
   color: #8b7070;
}



.clsSvgMasks{
    background-color: #ebaf2c;
}

.cls3CrossingHr{
    fill:#eeeeee;
}
.cls3CrossingMin{
    fill:#643f02;
}
.cls3CrossingSec{
    fill:#000000;
}



div#divHomeScreen {
    background: white;
    /* display: none; */
    /* visibility: hidden; */
}

#fpsSlider{
   display: none;
   color: white;
   position: absolute;
   top: 294px;
   left: 48px;
   width: 247px;
   height: 61px;
}



input#fpsSlide {
    width: 167px;
    height: 14px;
    box-shadow: inset 6px 2px 6px 1px rgba(38, 154, 146, 0.9), 0px 1px 1px 0px rgba(47, 28, 131, 0.8);
    -webkit-appearance: none;
    border: 1px solid #ffffff;
    border-radius: 3px;
    background: #000000;
    cursor: pointer;
    margin-top: 24px;
    margin-left: 37px;
}

/*   .rangeSliderSimpleUI::-webkit-slider-thumb {
 */   
 
 .rangeSliderSimpleUI {
    width: 151px;
    height: 21px;
    box-shadow: inset 8px 5px 15px 1px rgba(60, 247, 49, 0.9), 0px 1px 1px 0px rgba(47, 28, 131, 0.8);
    border-radius: 8px;
   
   
   
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
  }


g#gMask {
    fill: black;
}

.lblSwitchTitelAlt{
    font-family: "Josefin Sans", "Proxima Nova", Helvetica, Corbel, sans-serif;
    font-size: 18px;
    color: white;
}


div#simpUIControls {
    top: 388px;
    left: 46px;
    position: absolute;
    width: 251px;
    height: 81px;
    display: none;
    padding-top: 12px;
}


#lblFrameRateUISimp{
    position: absolute;
    left: 62px;
    top: -7px;
    background: black;
    width: 131px;
    padding-left: 10px;
}


#lblSimpleMoreControls {
    position: absolute;
    left: 98px;
    top: -7px;
    background: black;
    width: 60px;
    padding-left: 5px;
}
