

//base rgb for scheme: #021633

.gridCell1{
    width:500px;
    height:700px;
    background-color: #01001B;
    margin-left: 15%;
    margin-top: 4%;
    color:yellow;
}



body{
    background-color: #021633;
}
#avcd{
    fill: #ace63c;
    stroke: blue;  
}
#avcd:hover {
    fill: none;
    stroke: red;  
}


#label1{
    color: green;  

}

#label1:hover {
    color: red;  
}

.c1{
    stroke: blue;  	
}

.controlButton{
    background-color:#0C4EB0;
    border-style: none;
    color: #021633;
    width:80%;

    height: 31px;
    font-size: 21px;
    margin-top: 3px
}

.panelCls{
    
    /*
    color:yellow;	
    margin-left: 15%;
    margin-top: 4%;
    padding-left: 10%;
    width: 50%;
    background-color:#022C6B;
    border-radius: 25px;
    */
    
    color: yellow;
    margin-top: 4%;
    width: 95%;
    background-color: #022C6B;
    border-radius: 25px;
}


#buttonsPanel1 {
    width: 81%;
    margin-top: 3%;
    float: left;
    margin-left: 17%;
}

div#svgCont {
/*    width: 95%;
    margin-top: 3%;
    margin-left: 2%;*/
    
   
    
    width: 80%;
    margin-top: 3%;
    margin-left: 21%;
}

div#root {
    background-color: #021633;
    height: 1000px;
    width: 100%;
}

div#masksContainer{
    background-color: #021633;
    display: none;
    width:70%;
}

div#mainHorz{
    background-color: #021633;
    margin-left: 2%;
    
}


h1#h1text {
    
    color: #286f73;
    display: inline;
    padding-left: 38%;
    font-size: 40px;
    text-align: center;
}

h1#h1text1 {
    /* width: 80%; */
    font-size: 30px;
    text-align: center;
    margin-left: 22px;
}

#btnAbout{
    display: inline; 
}

div#divTitle {
    margin-top: 3%;
    margin-bottom: 2%;
}

div#leftSideBar {
    float: left;
    width: 20%;
}

div#divTitle1 {
    //width: 20%;
}


